<html>
    <head>  
        <title>Word Search</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type='text/css' href="/game.css">
        <script type="text/javascript" src="/base.js"></script>
        <script type="text/javascript" src="/game.js"></script>         
    </head>
    <body>	
	    <div id='container'>
			<div id='gameGrid'>
                <% if (board) { %>
                <% for (var i=0; i<board.length; i++){%>
                    <p><%= board[i] %></p>
                    <% } %>
                <% } %>
			</div>

			<div id='gameArea'>
                <p></p>
                <form name='guessForm' id='guess'>
                    <input name='word' type='text'>
                    <input type='submit' value='Submit'>
                </form>
                <h3 id='status'></h3>
			</div>

            <div id='scores'>
                <p></p>
            </div>
				
			<div id='combos'>
                <h2>Answers</h2>
                <% if (combos) { %>
                    <p><%= combos %></p>
                <% } %>
			</div>
		</div>
	</body>
</html>
