<html>
    <head>  
        <title>Word Search</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type='text/css' href="/game.css">
        <script type="text/javascript" src="/socket.js"></script>
        <script type="text/javascript" src="/base.js"></script>        
    </head>
    <body>	
	    <div id='container'>
			<div id='gameGrid'>
			</div>

			<div id='players'>
			</div>
				
			<div id='game'>
			</div>
		</div>
	</body>
</html>
