<html>
    <head>  
        <title>Word Search</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <link rel="stylesheet" type='text/css' href="/game.css">
        <script type="text/javascript" src="/base.js"></script>
        <script type="text/javascript" src="/game.js"></script>  
    </head>
    <body>	
	    <span id='container'>
			<span id='gameGrid'>
                <% if (board) { %>
                <% for (var i=0; i<board.length; i++){%>
                    <p><%= board[i] %></p>
                    <% } %>
                <% } %>
			</span>

			<span id='gameArea'>
                <p></p>
                <form name='guessForm' id='guess'>
                    <input name='word' type='text'>
                    <input type='submit' value='Submit'>
                </form>
                <h2 id='status'></h2>
                <span id='guesses' class='forPlayer'>
                    <h3>Found Words</h3>
                    <ul>No Words Found Yet
                    </ul>
                </span>
			</span>

            <span id='chatBox'>
                <ul id="messages"></ul>
                <form id='chat' action="">
                    <input id="m" autocomplete="off">
                    <button>Send</button>
                </form>
            </span>

            <span id='scores'>
                <h3>Scores</h3>
                <p>No Scores Yet</p>
            </span>
            	
		</spanc>
	</body>

     <script id='words' type='x-tmpl-mustache'>
        <h3>Found Words</h3>
        {{#words}}
            <li>{{.}}</li>
        {{/words}}
    </script>
</html>


