<html>
    <head>  
        <title>Word Search</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type='text/css' href="game.css"/>
        <script type="text/javascript" src="base.js"></script>        
    </head>
    <body>
        <div id='container'>
            <div id='gameForm'>
                <form id="newGame" method="GET"> 
                    <!-- <p>How many players?<p>
                        <select class="btn-info" id="players" name="players">
                            <option value="two">2</option>
                            <option value="three">3</option>
                            <option value="four">4</option>
                            <option value="five">5</option>
                        </select>  -->
                    <p>Start a new game!</p>
                    <button id='newGameButton' type="submit" class="btn btn-info" <p>Create</p>
                    </button>
                </form>
            </div>
            <footer>
            </footer>
        </div>
    </body>
</html>