/* Index page */
.navbar {
	color: white;
}

#container {
	height: 50em;
}

body {
	background-color: #16a085;
}

#head {
	border-bottom: solid black .1em;
}

#logo{
	height: 5em;
	width: 4.5em;
	background-image: url('/Drawing.png');
	background-size: cover;
	margin: -4em auto 2em auto;
}

#gameMenu{
	background-color: #ecf0f1;
	height: 40em;
	width: 40em;
	margin: 0 auto 0 auto;
	padding: 8em 5em 5em 5em;
	border-radius: 1em;
}

#newGame{
	text-align: center;
}

#gameForm{
	width: 20em;
	margin: auto;
	margin-top: 1em;
	font-family: calibri;
	text-align: center;
	font-size: 1.25em;
}


/* Game page */
#gameGrid p {
	margin: 0 0em 0 1em;
	color: white;
  	font-family: monospace;
}

#gameArea, #gameGrid {
	display: inline-block;
	vertical-align: top;
	font-size: 1.75em;
	float: left;
}

#gamegrid{
	border-right: solid white .05em;
	padding-right: 1em;
	margin-bottom: 1em;
	color: white;
}

#chatBox {
	display: inline-block;
	position: absolute;
	right: 0.5em;
	background-color: #ecf0f1;
}

#gameArea{
	margin-left: 4em;
	max-height: 21em;
	overflow-y: auto;
}

#scores{
	display: block;
	width: 20em;
	margin: 0 0 0 2em;
}

#chat {
	border-top : solid black;
	left: 40em;
	top: 35em;
	margin: 0;
	padding: .25em;
}

#messages { 
	left: 40em;
	top: 30em;
	list-style-type: none; 
  	margin: 0; 
  	padding: 0; 
	overflow-y: auto;
  	height: 39em;
  	width: 32em;
}

#messages li { 
  padding: 5px 10px; 
}

.wrong {
	color: red;
}

.correct {
	color: green;
}

@media screen and (max-width: 767px) {
    #gameArea {
        margin: 0 0 1em 1em;
    }
} 