#gameForm{
	width: 20em;
	margin: auto;
	margin-top: 1em;
	font-family: calibri;
	text-align: center;
}

#gameGrid p {
	size:  1em;
	margin: 0 0em 0 1em;
  	font-family: monospace;
}

#gameArea, #gameGrid {
	display: inline-block;
	vertical-align: top;
	font-size: 2em;
}

#newGame{
	text-align: center;
}

#gameArea{
	margin-left: 10em;
	height:;
}

.gridLetters{
	font-size: 2em;
}

#combos{
	margin-left: 1em;
}
